*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f1f5f9;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.hero__middle-list {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #059669;
  position: relative;
}

.hero__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero__item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero__item-inner {
  border-radius: 0.25rem;
  background-color: #fff;
  padding: 1rem;
}

.hero__info-box {
  padding-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero__item-title {
  color: #94a3b8;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__item-desc {
  color: #334155;
  font-size: 1.25rem;
  font-weight: 600;
}

.hero__item-img-box {
  padding-left: 1rem;
}

.hero__item-img-inner {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #ef4444;
}

.hero__item-img-inner i {
  font-weight: 400;
}

.hero__item-text {
  margin-bottom: 0;
  color: #94a3b8;
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.hero__item-text-left {
  margin-right: 0.5rem;
}

.hero-up {
  color: #10b981;
}

.hero-down {
  color: #ef4444;
}

.orange {
  background-color: #f97316;
}

.pink {
  background-color: #ec4899;
}

.green {
  background-color: #10b981;
}

.sections {
  display: none;
}

.header__container {
  margin-left: 16rem;
  background-color: #f1f5f9;
  position: relative;
}

.header {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__title-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.header__search-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}

.header__search-inner {
  position: relative;
  margin-right: 0.75rem;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.header__icon-box {
  width: 2rem;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  line-height: 1.375;
  font-size: 1rem;
  color: #cbd5e1;
}

.header__input {
  padding-left: 2.5rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #475569;
  outline: 2px solid transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: none;
  border-radius: 0.25rem;
}

.header__img-box {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.header__user-btn {
  border: none;
  background-color: transparent;
}

.header__user-btn img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.nav-bar {
  width: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.nav-bar__title {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  line-height: 0.875rem;
  margin-bottom: 0;
}

.nav-bar__title-link {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #475569;
}

.nav-bar__title-link:hover {
  color: #475569;
}

.nav-bar__line {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.first-line {
  margin-top: 2rem;
}

.nav-bar__inner-title {
  text-transform: uppercase;
  color: #64748b;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

.nav-bar__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: none;
  background-color: transparent;
  color: #334155;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-bar__btn .fa {
  color: #cbd5e1;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-bar__btn .fab {
  color: #cbd5e1;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-bar__btn .fas {
  color: #cbd5e1;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 900;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tti {
  text-transform: capitalize;
}

.nav-bar__btn--active {
  color: #10b981 !important;
}

.nav-bar__btn--active i {
  color: #10b981 !important;
}

.dashboard {
  margin-left: 16rem;
  position: relative;
  margin-top: -7.5rem;
  z-index: 100;
}

.dashboard__line {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard__bar {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard__border {
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  background-color: #334155;
  position: relative;
  height: auto;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bar-border {
  background-color: #fff;
}

.dashboard__line-header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dashboard__entry {
  text-transform: uppercase;
  color: #f1f5f9;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.bar-entry {
  color: #94a3b8;
}

.dashboard__line-title {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  margin: 0;
  text-transform: none;
}

.bar-title {
  color: #334155;
}

.dashboard__canvas {
  padding: 1rem;
}

.dashboard__bottom {
  margin-top: 1rem;
}

.dashboard__page {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard__social {
  padding: 0 1rem;
}

.dashboard__page-border {
  background-color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dashboard__page-header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dashboard__page-title {
  color: #334155;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.general-btn {
  text-transform: uppercase;
  color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  outline: 2px solid transparent;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  background-color: #6366f1;
  border: none;
  font-weight: 700;
}

.dashboard__table-box th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
  color: #64748b;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.dashboard__table-box td {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #334155;
  font-size: 0.75rem;
  line-height: 1rem;
}

.dashboard__table-box thead th {
  border: 1px solid #f1f5f9;
  border-left: none;
  border-right: none;
  background-color: #f8fafc;
}

.dashboard__table-box tbody th {
  color: #334155;
  text-transform: none;
}

.dashboard__table-box i {
  margin-right: 1rem;
}

.dashboard__social-percent {
  margin-right: 0.5rem;
}

.dashboard__line-up {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: #fecaca;
}

.dashboard__line-inner {
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: #ef4444;
  width: 60%;
}

.social-light-green {
  background-color: #a7f3d0;
}

.social-dark-green {
  width: 70%;
  background-color: #10b981;
}

.social-light-purple {
  background-color: #e9d5ff;
}

.social-dark-purple {
  width: 80%;
  background-color: #a855f7;
}

.social-light-blue {
  background-color: #bae6fd;
}

.social-dark-blue {
  width: 75%;
  background-color: #0ea5e9;
}

.social-orange {
  background-color: #fed7aa;
}

.social-twitter-green {
  background-color: #10b981;
}

.setting {
  margin-left: 16rem;
  margin-top: -7rem;
  position: relative;
  z-index: 100;
}

.setting__input-box {
  padding: 0 1rem;
}

.setting__input-inner {
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  background-color: #f1f5f9;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.setting__input-header {
  padding: 1.5rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: #fff;
}

.setting__input-title {
  color: #334155;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin: 0;
}

.setting__input-btn {
  text-transform: uppercase;
  color: #fff;
  padding: 0.5em 1rem;
  outline: 2px solid transparent;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  background-color: #10b981;
  border: none;
}

.setting__form {
  padding: 2.5rem;
  padding-top: 0;
}

.setting__form-title {
  color: #94a3b8;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.setting__input-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.setting__input-item {
  padding: 0 1rem;
  margin-bottom: 0.75rem;
}

.setting__input-label {
  color: #475569;
  margin-bottom: 0.5rem;
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
}

.setting__input {
  color: #475569;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
}

.setting__textarea {
  color: #475569;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
}

.setting__bio-box {
  padding: 0 1rem;
}

.setting__bio-inner {
  border-radius: 0.5rem;
  background-color: #f1f5f9;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

.setting__bio-top {
  position: relative;
  padding: 1rem;
  margin-top: 5rem;
}

.setting__img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-top: -5rem !important;
}

.setting__img-wrapper img {
  border-radius: 9999px;
  width: 100%;
  max-width: 150px;
}

.setting__num-wrapper {
  padding: 0 1rem !important;
  margin-top: 5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setting__num-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.setting__num-item {
  padding: 0.75rem;
  margin-right: 1rem;
  text-align: center;
}

.setting__bio-num {
  letter-spacing: 0.025em;
  display: block;
  text-transform: uppercase;
  color: #475569;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.setting__bio-type {
  color: #94a3b8;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.setting__bio-middle {
  margin-top: 3px;
  text-align: center;
}

.setting__bio-middle-title {
  color: #334155;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.setting__bio-location {
  color: #94a3b8;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 700;
}

.setting__bio-location i {
  margin-right: 0.5rem;
  line-height: 1.75rem;
  font-weight: 900;
}

.setting__bio-middle-text {
  color: #475569;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.setting__bio-middle-text i {
  color: #94a3b8;
  line-height: 1.75rem;
  font-weight: 900;
  font-size: 1.125rem;
  margin-right: 0.5rem;
}

.bio-m-0 {
  margin-top: 0;
}

.setting__bio-bottom {
  padding: 2.5rem 0;
  text-align: center;
  border-top: 2px solid #e2e8f0;
  margin-top: 2.5rem;
}

.setting__bio-bottom-text {
  width: 75%;
  margin: 0 auto;
  padding: 0 1rem;
  color: #334155;
  margin-bottom: 1rem;
  line-height: 1.625;
  font-size: 1.125rem;
}

.setting__bio-bottom-link {
  color: #10b981;
  text-decoration: none;
}

.card-table {
  margin-left: 16rem;
  margin-top: -7rem;
  position: relative;
  z-index: 100;
}

.card-table__wrapper {
  margin-top: 1rem;
}

.card-table__inner {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.card-table__white {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
}

.card-table__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
}

.card-table__th-img-box img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
}

.card-table__th-img-box span {
  color: #475569;
  font-weight: 700;
  margin-left: 0.75rem;
}

.card-table td {
  vertical-align: middle;
}

.card-table__status i {
  margin-right: 0.5rem;
}

.pending {
  color: #f97316;
}

.card-table__table-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-table__table-item:not(:first-child) {
  margin-left: -1rem;
}

.card-table__table-item img {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #f8fafc;
  border-radius: 50%;
}

.table-red {
  width: 60%;
}

.completed {
  color: #10b981;
}

.table-green {
  width: 100%;
  border-radius: 0.5rem;
}

.delayed {
  color: #ef4444;
}

.table-delayed {
  width: 73%;
}

.schedule {
  color: #14b8a6;
}

.social-light-salad {
  background-color: #99f6e4;
}

.social-dark-salad {
  background-color: #14b8a6;
}

.table-salad {
  width: 90%;
}

.table__real-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #64748b;
  padding: 0.25em 0.75rem;
}

.card-table-main-green {
  background-color: #064e3b;
}

.card-table-main-green th {
  color: #6ee7b7;
}

.card-table-main-green thead th {
  border: 1px solid #047857;
  background-color: #065f46 !important;
  border-left: none;
  border-right: none;
}

.table-color-white {
  color: #fff !important;
}

.map {
  margin-left: 16rem;
  position: relative;
  margin-top: -7.5rem;
  z-index: 100;
}

.map__inner {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  height: 600px;
}

.map__inner iframe {
  border-radius: 0.25rem;
}

.footer {
  margin-left: 16rem;
  padding: 1rem 0;
}

.footer__container {
  width: 100%;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
}

.footer__line {
  margin-bottom: 1rem;
  background-color: #a8a8a8;
}

.footer__holder {
  padding: 0 1rem;
}

.footer__copyright {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #64748b;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.footer__link {
  color: #64748b;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__item-link {
  color: #475569;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */